[submodule "libs/lczero-common"]
	path = libs/lczero-common
	url = https://github.com/LeelaChessZero/lczero-common.git
[submodule "libs/lc0"]
	path = libs/lc0
	url = https://github.com/LeelaChessZero/lc0.git
